body {
  margin: 0px;
  padding: 0px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
  font-weight: 400;
  min-width: 1200px;
  min-height: 1750px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  border: 1px solid transparent;
}

img {
  max-width: 100%;
  height: auto;
}

header{
  background-color: #f4f7f9
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.red-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  outline: none;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/*HEADER START*/

.upper-section {
  height: 42px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 45px;
  padding: 0;
}

.upper-section .container {
  height: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: block;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  height: 100%;
  background-color: #ee3643;
}

.logo img {
  padding-top: 12px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.logo:hover::before,
.logo:focus::before {
  background-color: #992129;
}

.logo:active::before {
  background-color: #8D1D26;
}

.search-section {
  display: block;
  position: relative;
  float: left;
  width: 270px;
  color: #ffffff;
  background-color: #293449;
}

.search-section form {
  display: block;
  margin: 0;
}

.search-section input {
  width: 100%;
  padding: 12px 0 12px 49px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.search-label {
  position:absolute;
  top:12px;
  left:17px;
  z-index:20;
  width:20px;
  height:20px;
  background:url(../img/sprite.png) no-repeat;
  background-position:-106px -1px;
  cursor:pointer;
}

.search-section input:hover{
  background:#212a3a;
  border:none
}

.search-section input:focus{
  color:#000;
  background:#fff;
  outline: none
}

.search-section input:hover + label {
  background:url(../img/sprite.png) no-repeat;
  background-position:-106px -51px
}

.search-section input:focus + label {
  background:url(../img/sprite.png) no-repeat;
  background-position:-207px -151px
}

.user-instruments {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.upper-section input,
.upper-section a,
.upper-section button {
  outline: none;
}

.upper-section-button {
  display: block;
  position: relative;
  margin: 0;
  font-size: 17px;
  text-align: center;
  width: 100px;
  padding: 12px 0;
  padding-right: 20px;
  padding-left: 30px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before
{
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.3;
}

.info-section {
  margin-bottom: 39px;
}

.upper-section-button:hover,
.upper-section-button:focus {
  background-color: #212a3a;
}

.upper-section-button:active {
  color: rgba(255, 255, 255, 0.6);
}

.cart-catalog {
  background-color: #ee3643;
}

.user-checkout {
  border: 1px solid transparent;
  width: 150px;
  height: 42px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 42px;
  background-color: #63a63e;
  text-align: center;
  width: 150px;
  box-sizing: border-box;
}

.user-checkout:hover,
.user-checkout:focus {
  background-color: #5fbb2d;
}

.user-checkout:active {
background-color: #518534;
}

.phone-button {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 2px solid #ffffff;
  padding: 10px 0;
  margin-bottom: 8px;
  outline: none;
}

.phone-button:focus {
  border: 2px solid #ee3643;
}

.phone-button span {
  margin-left: 72px;
}

.phone-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  font-size: 14px;
  color: #32425c;
  margin: 0;
}

.info-section .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.text-about-company {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  margin-right: 20px;
  width: 300px;
  padding-left: 53px;
  padding-top: 3px;
  box-sizing: border-box;
}

.contacts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  margin-right: 50px;
  width: 270px;
}

.user-main-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 300px;
}

.main-panel {
  margin: 0;
  width: 300px;
  box-sizing: border-box;
}

.user-profile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 300px;
  min-height: 45px;
  background-color: #ffffff;
  align-items: center;
}

.user-profile-button {
  display: block;
  position: relative;
  text-align: center;
  margin-left: 47px;
  margin-right: 39px;
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  outline: none;
}

.user-profile-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -32px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-profile-button:hover::before,
.user-profile-button:focus::before {
  opacity: 1;
}

.user-profile-button:active::before {
  opacity: 0.7;
}

.user-profile-button:active {
  opacity: 0.3;
}

.user-main-button {
  display: block;
  position: relative;
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 0;
  outline: none;
}

.login-button {
  width: 60px;
  padding-left: 47px;
  margin-right: 10px;
  padding-right: 14px;
}

.login-button svg {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  opacity: 0.3;
}

.registration-button {
  width: 150px;
  text-align: center;
}

.user-main-button:hover,
.user-main-button:focus {
  color: #ee3643;
}

.login-button:hover svg,
.login-button:focus svg {
  opacity: 1;
}

.user-main-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-button:active svg {
  opacity: 0.3;
}

.logout-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  cursor: pointer;
  outline: none;
}

.logout-button:hover,
.logout-button:focus {
  opacity: 1;
}

.logout-button:active {
  opacity: 0.3;
}

.user-profile-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 210px;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  padding-left: 20px;
}

.user-profile-links a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  outline: none;
}

.user-profile-links a:hover,
.user-profile-links a:focus {
  color: #ee3643;
}

.user-profile-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  padding-bottom: 59px;
}

.main-navigation-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-navigation-button {
  display: block;
  padding: 21.5px 28px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  vertical-align: middle;
  outline: none;
}

.main-navigation-item:first-child a {
  padding-left: 52px;
}

.main-navigation-item:last-child a{
  padding-right: 52px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}
.main-navigation a:active{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}
/*HEADER END*/

/*MAIN START*/
.infoblock-section {
  padding-top: 60px;
  padding-bottom: 48px;
  border: none;
}

.infoblock {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.infoblock .flag {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.infoblock .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.infoblock-left-side {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.infoblock-button {
  display: block;
  width: 135px;
  padding: 10px 0;
  margin-top: 11px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
}
.infoblock-button:hover,
.infoblock-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.infoblock-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.infoblock-right-side {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.infoblock h3 {
  font: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.product-blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-blocks .infoblock {
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-blocks .infoblock:nth-child(3n) {
  margin-right: 0;
}

.fiture-blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.product-block-materials {
  background-color: #ffbf47;
  margin: 0;
  width: 300px;
  height: 123px;
}

.product-block-instruments {
  background-color: #3bbce3;
  margin: 0;
  width: 300px;
  height: 123px;
}

.product-block-tech {
  background-color: #dc91d8;
  margin: 0;
  width: 300px;
  height: 123px;
}

.fiture-block-sale {
  background-color: #8ed78f;
  margin: 0;
  width: 300px;
  height: 123px;
}

.fiture-block-ship {
  background-color: #ffc047;
  margin: 0;
  width: 300px;
  height: 123px;
}

.sevise-blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 270px;
}

.sevise-blocks .infoblock {
  margin-left: 20px;
  margin-bottom: 20px;
}

.sevise-blocks .infoblock:last-of-type {
  margin-bottom: 0;
}

/* СЛАЙДЕР */
.slider {
  position: relative;
  width: 620px;
  margin: 0;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slide-on {
  display: block;
}

.slide-off {
  display: none;
}

.slider .slide-image {
  width: 100%;
  height: 100%;
}

.slider h3 {
  position: absolute;
  font: inherit;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
	top: 23px;
	left: 25px;
}

.slider p {
  position: absolute;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
	top: 61px;
	left: 25px;
}

.last-slide-button {
  position: absolute;
  top: 113px;
	left: 18px;
  background: none;
  border: none;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}

.next-slide-button {
  position: absolute;
  top: 113px;
	right: 13px;
  background: none;
  border: none;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.slider-link-button {
  display: block;
  position: absolute;
  top: 206px;
	left: 25px;
  width: 195px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}

/* СЛАЙДЕР КОНЕЦ */
.popular-products {
  margin-bottom: -1px;
}

.popular-products-name {
  margin-bottom: 18px;
}

.popular-products-name .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f9f5f0;
  padding: 29.5px 0;
}

.popular-products-name h2 {
  max-width: 380px;
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  margin-left: 30px;
}

.popular-products-button {
  display: block;
  position: absolute;
  left: 663px;
  top: 25px;
  width: 253px;
  margin: 0;
  padding: 10px 0;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400px;
  color: #ffffff;
  text-transform: uppercase;
}

.container .main-catalog-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popular-manufacturers-name {
  margin-bottom: 20px;
}

.popular-manufacturers-name .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f9f5f0;
  padding: 29.5px 0;
}

.popular-manufacturers-name h2 {
  max-width: 380px;
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
  margin-left: 30px;
}

.popular-manufacturers-button {
  display: block;
  position: absolute;
  left: 663px;
  top: 25px;
  width: 253px;
  margin: 0;
  padding: 10px 0;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400px;
  color: #ffffff;
  text-transform: uppercase;
}

.popular-manufacturers {
  margin-bottom: 65px;
}

.popular-manufacturers .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  min-height: 310px;
}

.manufacturer-link {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
  outline: none;
}

.manufacturer-link:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturers img {
  display: block;
  margin: auto;
}

.manufacturer-link:hover,
.manufacturer-link:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-link:active {
opacity: 0.3;
box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  position: relative;
  padding-top: 63px;
  background-color: #f4f7f9;
}

.services h2 {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.services .index-columns{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 285px;
  margin-top: 68px;
}

.services-buttons {
  position: relative;
  margin: 0;
  width: 240px;
  margin-right: 80px;
}

.services-buttons ul::before {
  content: "";
  position: absolute;
  top: -48px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 20;
}

.services-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  padding-left: 22px;
  border: none;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  font: inherit;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  cursor:	pointer;
}

.services-button:hover,
.services-button:focus {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #293449;
  outline: none;
}

.services-buttons .active {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
}

.services h3 {
  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
}

.services-info {
  margin: 0;
  padding: 0;
  max-width: 400px;
  list-style-type: none;
  box-sizing: border-box;
}

.services-info h3 {
  margin-bottom: 24px;
}

.services-picture-car {
  position: absolute;
  bottom: 0px;
  right: 370px;
}

.services-picture-garanty {
  position: absolute;
  bottom: 0px;
  right: 355.5px;
}

.services-picture-credit {
  position: absolute;
  bottom: 0px;
  right: 357.5px;
}

.services-show {
  display: block;
}

.hide-service {
  display: none;
}

.services-buttons ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.credit-button-1 {
  width: 195px;
  margin-top: 30px;
}

.catalog-navigation-section{
  border: none;
}

.catalog-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  min-height: 60px;
  margin: 0;
  padding: 0;
}

.catalog-navigation-item {
  margin-right: 16px;
}

.catalog-navigation-item:last-of-type {
  margin-right: 0;
}

.catalog-navigation a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 86px;
}

.flex-container h2 {
  padding-left: 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.flex-container p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.our-company {
  border: none;
  margin: 0;
  width: 560px;
}

.our-company h2 {
  margin-bottom: 26px;
}

.our-company p:first-of-type {
  margin-bottom: 24px;
  padding-left: 30px;
  letter-spacing: 0.1px;
}

.our-company p:last-of-type {
  padding-left: 30px;
  margin-bottom: 21px;
}

.transport-companies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  margin-bottom: 42px;
}

.transport-companies li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
  padding-left: 35px;
}

.transport-companies li:last-child {
  margin-bottom: 0px;
}

.transport-companies li::before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 15px;
  left: -30px;
  background-image: url("../img/index-list.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-company-button {
  display: block;
  width: 160px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.contacts-info {
  border: none;
  position: relative;
  margin: 0;
  width: 320px;
  padding-left: 20px;
  box-sizing: border-box;
}

.contacts-info h2 {
  margin-bottom: 26px;
  margin-top: 6px;
  padding-left: 0;
}

.contacts-info p {
  margin-bottom: 31px;
}

.contacts-info a {
  display: block;
}

.map-button {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 158px;
  border: none;
  background-color: none;
  cursor: pointer;
  background-image: url(../img/map-contacts.jpg);
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.contact-us-button {
  display: block;
  width: 80%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.product-name {
  margin-bottom: 18px;
  border: none solid #000;
}

.product-name .container {

}

.product-name h2 {
  font: inherit;
  font-size: 30px;
  line-height: 44px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 28px;
  background-color: #f2f6f8;
}

fieldset {
  border: none;
}

.mane-container {
  margin-bottom: 60px;
}

.mane-container .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.product-filter{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 220px;
  margin-right: 20px;
  border: none;
}

.sort-and-catalog {
  margin: 0;
  width: 700px;
}

.product-filter-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 38px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.product-filter-title h2 {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 18px;
}

.filter {

}

.price-counter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 12px 0;
  margin-bottom: 13px;
}

.price-rage {
  width: 220px;
  height: 78px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.price-values {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-values input {
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.defice {
  height: 28px;
}

.filter-line {
  display: block;
  border: none;
  background-color: #e5e5e5;
  height: 2px;
  width: 220px;
  margin: 0;
  padding: 0;
  margin-bottom: 17px
}

.sort {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 700px;
  height: 38px;
  margin: 0;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
}

.sort h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  margin-left: 20px;
}

.sort-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 20px;
}

.sort-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #EE3643;
  outline: none;
}

.sort-button:hover,
.sort-button:focus {
  color: #000000;
}

.sort-buttons .active {
  border: none;
  color: #ee3643;
}

.filter-icon {
  opacity: 0.3;
}

.filter-icon:hover,
.filter-icon:focus {
  opacity: 1;
}

.sort-and-catalog .active {
  opacity: 1;
}

.active path {
  fill: #ee3643;
}

.filter-icon-up {
  margin-right: 20px;
}

.product-filter fieldset {
  margin: 0;
  padding: 0;
}

.producer-filter-list,
.power-filter-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.filter-option {
  position: relative;
  margin-bottom: 20px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.check,
.radio {
  padding-left: 35px;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.check-box:hover,
.check-input:focus + .check-box {
  opacity: 0.5;
}

.check-input:checked + .check-box {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}

.check-input:disabled + .check-box,
.check-input:disabled + .check-box + span {
  opacity: 0.1;
}

.radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-button {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.radio-button:hover,
.radio-input:focus + .radio-button {
  opacity: 0.5;
}

.radio-input:checked + .radio-button {
  background-image: url(../img/radio-on.svg);
}

.radio-input:disabled + .radio-button,
.radio-input:disabled + .radio-button + span {
  opacity: 0.1;
}


.product-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product-filter ul {
  list-style-type: none;
}

.product-filter li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 56px;
}

.catalog {
  border: none;
}

.catalog-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 21px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  list-style-type: none;
  vertical-align: middle;
}

.catalog-item-image {
  margin-bottom: 4px;
}

.catalog-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
  min-height: 40px;
  padding: 0 25px;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  text-align: center;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  position: relative;
  width: 80px;
  margin: 8px auto;
  margin-bottom: 20px;
  padding: 10px 28px;
  border-radius: 3px;
}

.price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions .buy:hover,
.catalog-item .actions .buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .actions .buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.catalog-item .actions .bookmark:hover,
.catalog-item .actions .bookmark:focus {
  border: 3px solid #32425c;
}

.catalog-item .actions .bookmark:active {
  border: 3px solid #32425c;
  color: #32425c;
  opacity: 0.3;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-catalog-item {
  vertical-align: middle;
}

.main-catalog-list .main-catalog-item {
  margin-right: 20px;
}

.main-catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-items {
  font-size: 16px;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-pages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.product-page {
  display: block;
  width: 38px;
  max-height: 38px;
  padding: 10px 0;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  outline: none;
  margin-right: 10px;
  box-sizing: border-box;
}

.product-page-next {
  width: 140px;
  text-transform: uppercase;
}

.product-page:hover,
.product-page:focus {
  border: 1px solid #bdc6ca;
}

.product-page:active {
  border: 1px solid #ee3643;
}

.product-pages .active {
  background-color: #ee3643;
  color: #ffffff;
  border-color: transparent;
}

.about-perforators {
  padding-top: 64px;
  padding-bottom: 67px;
  background-color: #f4f7f9;
}

.about-perforators h2 {
  font: inherit;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.about-perforators p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

/*MAIN END*/


/*FOOTER START*/

.footer {
  background-color: #32425c;
  border: none;
}

.footer-info {
  padding-bottom: 50px;
}

.footer .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.footer-column-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 380px;
  margin: 0;
}

.footer-column-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 570px;
  margin: 0;
  padding-top: 38px;
}

.footer-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 34px;
}

.footer-navigation,
.market-navigation {
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.market-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.footer-navigation a,
.market-navigation a {
  outline: none;
}

.footer-navigation a:hover,
.market-navigation a:hover,
.footer-navigation a:focus,
.market-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active,
.market-navigation a:active {
  opacity: 0.5;
}

.footer-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid transparent;
  width: 220px;
  height: 63px;
  background-color: #ee3643;
  outline: none;
}

.footer-logo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 63px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-logo:hover::before,
.footer-logo:focus::before {
  background-color: #992129;
}

.footer-logo:active::before {
  background-color: #8D1D26;
}

.footer-address {
  margin: 0;
  margin-top: 33px;
  margin-left: 3px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #f3f7f9;
}

.market-navigation a{
  color: #ffd180;
}

.main-footer {
  background-color: #293449;
  border: 1px solid transparent;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 20px;
}

.main-footer .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.footer-company {
  width: 380px;
  margin: 0;
  margin-right: 10px;
  box-sizing: border-box;
}

.footer-social {
  width: 150px;
  margin: 0;
  margin-right: 100px;
  box-sizing: border-box;
}

.contact-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 300px;
  box-sizing: border-box;
  margin:auto;
}

.footer-feedback,
.footer-copyright {
  display: block;
  width: 140px;
  margin:0;
}

.footer-feedback {
  margin-right: 53px;
}

.footer-social ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  list-style-type: none;
  margin:0;
  padding: 0;
  padding-top: 13px;
}

.social-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.vk-button img {
  margin-top: 15px;
}

.fb-button img {
  margin-top: 11px;
}

.inst-button img {
  margin-top: 10.5px;
}

.footer-link {
  font: inherit;
  color: #ffd180;
  outline: none;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}
/*FOOTER END*/


/*modal*/

.modal {
  position: fixed;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-write-us {
  display: none;
  bottom: 150px;
  left: 50%;
  margin-left: -310px;
  width: 460px;
  padding: 50px 80px;
  padding-bottom: 37px;
  background-color: #ffffff;
  outline: 1px solid black;
  z-index: 200;
  border: none;
  border-top: 7px solid #ee3643;
  outline: transparent;
  -webkit-animation: bounce .4s;
  animation: bounce .4s;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 25px;
  padding: 0;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: none;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #EE3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #ca2c37;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ba2732;
}

.modal-write-us h3 {
  margin: 0;
  margin-bottom: 10px;
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
  box-sizing: border-box;
  width: 220px;
  padding: 8px 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  outline: none;
}

.modal-write-us textarea {
  box-sizing: border-box;
  width: 460px;
  height: 114px;
  padding: 8px 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  margin-bottom: 66px;
  outline: none;
}

.modal-write-us textarea:hover,
.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover {
  border-color: #b5b5b5;
}

.modal-write-us textarea:focus,
.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus {
  border-color: #ee3643;
}

.form-answer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-form-btn {
  padding: 37px 0;
  background: #f1f1f1;
}

.feedback-button {
  width: 100%;
}

.feedback-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
  z-index: -1;
}

.modal-map {
  display: none;
  top: 5%;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 446.2px;
  background-image: url(../img/map-popup.jpg);
  background-repeat: no-repeat;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
  outline: transparent;
  border: transparent;
  z-index: 21;
}

.modal-cart-plus {
  display: none;
  position: fixed;
  width: 620px;
  top: 5%;
  left: 50%;
  margin-left: -310px;
  background-color: #ffffff;
  border: transparent;
  border-top: 7px solid #ee3643;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  z-index: 22;
}

.modal-container {
  width: 460px;
  margin: 0 auto;
}

.modal-cart-text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 43px;
}

.modal-cart-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.modal-cart-buttons::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
  z-index: -1;
}

.modal-cart-plus h2 {
  margin: 0;
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin-left: 32px;
}

.checkout-button {
  width: 160px;
}

.continue-button {
  width: 220px;
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
  outline: none;
  cursor: pointer;
}

.continue-button:hover,
.continue-button:focus {
  outline: 2px solid #ee3643;
}

.continue-button:active {
  outline: 2px solid #ee3643;
  opacity: 0.5;
}

.modal-show {
  display: block;
}

.modal-error {
  -webkit-animation: shake 0.4s;
  animation: shake 0.4s;
}
