@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
       url("fonts/cuprum-v10-latin-regular.woff2") format("woff2"),
       url("fonts/cuprum-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
       url("fonts/cuprum-v10-latin-italic.woff2") format("woff2"),
       url("fonts/cuprum-v10-latin-italic.woff") format("woff");
}

header{
  background-color: #f4f7f9
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  min-width: 1200px;
  min-height: 1750px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  border: 1px solid transparent;
}

.red-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

/*HEADER START*/

.upper-section {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 45px;
  padding: 0;
  /* Временно для сетки */
  min-height: 42px;
}

.upper-conteiner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Временно для сетки */
  min-height: 42px;
}

.left-upper {
  width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-instruments {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-checkout {
  width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.logo {
  text-align: center;
  border: 1px solid transparent;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.logo-aligner {
    margin-top: 13px;
}

.logo::before {
  content: "";
}

.info-section {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.upper-section-button:hover {
  background-color: #212a3a;
}

.cart-catalog {
  background-color: #ee3643;
}

.user-checkout {
  display: block;
  border: 1px solid transparent;
  width: 150px;
  height: 42px;
  padding: 0;
  font-size: 17px;
  line-height: 42px;
  background-color: #63a63e;
  text-align: center;
}

.phone-button {
  color: #ee3643;
  font-size: 21px;
  border: 2px solid #ffffff;
}

.address {
  font-size: 14px;
  color: #32425c;
}

.about-company-conteiner {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-company {
  width: 250px;
  margin-left: 50px;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-main-buttons {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: auto;
}

.login-button {
  width: 121px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.registration-button {
  width: 150px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-button:hover,
.login-button:focus,
.registration-button:hover,
.registration-button:hover {
  color: #ee3643;
}

.login-button:active,
.registration-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile a {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-profile-links {
  list-style-type: none;
}

.user-profile-links a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.main-navigation-buttons {
  width: 940px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;

  /* временно для сетки */
  min-height: 60px;
}

.main-navigation a {
  font-size: 17px;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}
.main-navigation a:active{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation ul {
  list-style-type: none;
}
/*HEADER END*/


/*MAIN START*/
.infoblock-section {
  margin-top: 59px;
}

.product-blocks {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.infoblock {
  width: 300px;
  height: 123px;
}

.product-block-materials {
  background-color: #ffbf47;
}

.product-block-instruments {
  background-color: #3bbce3;
}

.product-block-tech {
  background-color: #dc91d8;
}

.fiture-blocks {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

/* .sevise-blocks{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
} */

.fiture-block-sale {
  background-color: #8ed78f;
}

.fiture-block-ship {
  background-color: #ffc047;
}

/* СЛАЙДЕР */

.slider .slide-image {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider h3 {
  font: inherit;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
	position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 550px;
	left: 152px;
}

.slider p {
  font: inherit;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;
	position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 595px;
	left: 152px;
}

.last-slide-button {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 636px;
	left: 155px;
}

.next-slide-button {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 636px;
	left: 708px;
}

.slider-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 728px;
	left: 155px;
}
.slider-link-button {
  padding: 14px 0;
  padding-left: 49px;
  padding-right: 45px;
}

/* СЛАЙДЕР КОНЕЦ */
.catalog-navigation li {
  display: inline;
  margin-right: 15px;
}
.catalog-navigation a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.our-company h2,
.contacts h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #000000;
  line-height: 30px;
  font-weight: 400;
}

.main-text-our-company,
.main-text-contacts {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.transport-companies li {
  list-style-image: url(index-list.png);
  font-size: 18px;
  color: #000000;
}

.product-name {
  height: 89px;
  background-color: #f2f6f8;
}

.product-name h2 {
  font: inherit;
  font-size: 30px;
  line-height: 44px;
  color: #32425c;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.product-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.product-filter ul {
  list-style-type: none;
}

.product-filter li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.catalog-item {
  display: inline-block;
  list-style-type: none;
  width: 220px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.catalog-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.old-price {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  text-align: center;
}

.price {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
}
/*MAIN END*/


/*FOOTER START*/
.footer-info{
  background-color: #32425c;
  border: 1px solid transparent;
}

.footer-address {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-menu li,
.market-navigation li{
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  list-style-type: none;
}

.market-navigation a{
  color: #ffd180;
}

.main-footer {
  background-color: #293449;
  border: 1px solid transparent;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}


.footer-social li {
  display: inline-block;
  list-style-type: none;
  margin-right: 3px;
  vertical-align: middle;
}

.footer-social a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  cursor: pointer;
}
.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}

.vk-button img {
  margin-top: 15px;
}

.fb-button img {
  margin-top: 11px;
}

.inst-button img {
  margin-top: 10.5px;
}

.footer-link {
  font: inherit;
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}
/*FOOTER END*/


/*DISPLAY NONE FOR SOME FEATURES*/
.slide-2,
.modal {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
