@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
       url("fonts/cuprum-v10-latin-regular.woff2") format("woff2"),
       url("fonts/cuprum-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
       url("fonts/cuprum-v10-latin-italic.woff2") format("woff2"),
       url("fonts/cuprum-v10-latin-italic.woff") format("woff");
}

header{
  background-color: #f4f7f9
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  font-weight: 400;
  min-width: 1200px;
  min-height: 1750px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  border: 1px solid transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.red-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
}

.red-button:hover,
.red-button:focus {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/*HEADER START*/

.upper-section {
  height: 42px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  margin-bottom: 45px;
  padding: 0;
}

.upper-section .container {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  display: block;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  width: 220px;
  height: 100%;
  background-color: #ee3643;
}

.logo img {
  padding-top: 12px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.logo:hover::before,
.logo:focus::before {
  background-color: #992129;
}

.logo:active::before {
  background-color: #8D1D26;
}

.search-section {
  position: relative;
  margin: 0;
  width: 220px;
  padding-left: 50px;
  height: 100%;
  box-sizing: border-box;
}

.search-section input {
  width: 170px;
  height: 100%;
  background: none;
  border: none;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.search-section input::-moz-placeholder {
  color: #ffffff;
}

.search-section input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-section input:focus {
  background-color: #ffffff;
}

.search-section::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-section:hover::before {
  opacity: 1;
}

.search-section svg {
  display: none;
  position: absolute;
  top: 12px;
  left: 15px;
  width: 17px;
  height: 17px;
}

.user-instruments {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.upper-section-button {
  display: block;
  position: relative;
  margin: 0;
  font-size: 17px;
  text-align: center;
  width: 100px;
  padding: 12px 0;
  padding-right: 20px;
  padding-left: 30px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.bookmarks:active::before,
.cart:hover::before,
.cart:focus::before,
.cart:active::before {
  opacity: 1;
}

.info-section {
  margin-bottom: 40px;
}

.upper-section-button:hover {
  background-color: #212a3a;
}

.cart-catalog {
  background-color: #ee3643;
}

.user-checkout {
  border: 1px solid transparent;
  width: 150px;
  height: 42px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 42px;
  background-color: #63a63e;
  text-align: center;
  width: 150px;
  box-sizing: border-box;
}

.phone-button {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 2px solid #ffffff;
}

.address {
  font-size: 14px;
  color: #32425c;
}

.info-section .container {
  display: flex;
  min-height: 158px
}
.text-about-company {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  margin-right: 20px;
  width: 300px;
  padding-left: 53px;
}

.contacts {
  margin: 0;
  margin-right: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.user-main-buttons {
  margin: 0;
  width: 300px;
  box-sizing: border-box;
}

.user-main-buttons {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: auto;
  box-sizing: border-box;
}

.main-panel {
  margin: 0;
  width: 300px;
  box-sizing: border-box;
}

.user-profile {
  width: 300px;
  height: 45px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-profile-links {
  width: 210px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-button {
  width: 121px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.logout-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.registration-button {
  width: 150px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-button:hover,
.login-button:focus,
.registration-button:hover,
.registration-button:hover {
  color: #ee3643;
}

.login-button:active,
.registration-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile a {
  font: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-profile-links {
  list-style-type: none;
}

.user-profile-links a {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.main-navigation {
  padding-bottom: 60px;
}
.main-navigation .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;

  min-height: 60px;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}
.main-navigation a:active{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

/*HEADER END*/


/*MAIN START*/
.infoblock-section {
  padding-top: 59px;
  margin-bottom: 53px;
}

.infoblock {
  margin: 0;
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
}

.infoblock h3 {
  font: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.infoblock-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-block-materials {
  background-color: #ffbf47;
  margin: 0;
  width: 300px;
  height: 123px;
}

.product-block-instruments {
  background-color: #3bbce3;
  margin: 0;
  width: 300px;
  height: 123px;
}

.product-block-tech {
  background-color: #dc91d8;
  margin: 0;
  width: 300px;
  height: 123px;
}

.fiture-block-sale {
  background-color: #8ed78f;
  margin: 0;
  width: 300px;
  height: 123px;
}

.fiture-block-ship {
  background-color: #ffc047;
  margin: 0;
  width: 300px;
  height: 123px;
}

.sevise-blocks {
  margin-left: 10px;
  margin-top: 20px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* СЛАЙДЕР */
.slider {
  width: 620px;
  height: 266px;
  border: 1px solid transparent;
  margin: 0;
  margin-top: 20px;
}
.slider .slide-image {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider h3 {
  font: inherit;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
	position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 550px;
	left: 152px;
}

.slider p {
  font: inherit;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;
	position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 595px;
	left: 152px;
}

.last-slide-button {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 636px;
	left: 155px;
}

.next-slide-button {
  background: none;
  border: none;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 636px;
	left: 708px;
}

.slider-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: block;
  position: absolute;
  margin: 0;
  margin-left: 20px;
	top: 728px;
	left: 155px;
}
.slider-link-button {
  padding: 14px 0;
  padding-left: 49px;
  padding-right: 45px;
}

/* СЛАЙДЕР КОНЕЦ */
.popular-products-name {
  margin-bottom: 21px;
}

.popular-products-name .container {
  background-color: #f9f5f0;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popular-products-name h2 {
  width: 380px;
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
}

.popular-products-button {
  width: 300px;
  margin: 0;
}

.popular-products {
  margin-bottom: 20px;
}

.container .main-catalog-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
}


.popular-manufacturers-name {
  margin-bottom: 20px;
}

.popular-manufacturers-name .container {
  background-color: #f9f5f0;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popular-manufacturers-name h2 {
  width: 460px;
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  margin: 0;
}

.popular-manufacturers-button {
  width: 300px;
  margin: 0;
}

.popular-manufacturers {
  margin-bottom: 85px;
}

.popular-manufacturers .container {
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.manufacturer {
  margin: 0;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servises {
  padding: 0;
  padding-top: 55px;
  padding-bottom: 40px;
  background-color: #f4f7f9;
}

.servises .container {
  position: relative;
}

.servises h2 {
  font: inherit;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.servises p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.servises h3 {
  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.servises .index-columns{
  display: flex;
  justify-content: flex-start;
}

.servises-buttons {
  margin: 0;
  width: 240px;
  margin-right: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.servises-button img {
  position: absolute;
}

.servises-info {
  margin: 0;
  width: 300px;
  box-sizing: border-box;
  /* Отрицательная margin-right: 60px; */
}

.servises-picture {
  margin: 0;
  position: absolute;
  left: 600px;
  top: 175px;
}
.servises-buttons ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-navigation {
  list-style-type: none;
  width: 360px;
  height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-navigation a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.flex-container {
  padding-top: 75px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.our-company {
  margin: 0;
  width: 560px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.contacts-info {
  margin: 0;
  width: 320px;
  padding-left: 20px;
  height: 375px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}
.flex-container h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.flex-container p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}

.transport-companies ul {
  margin: 0;
}

.transport-companies li {
  list-style-image: url(index-list.png);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
}

.product-name {
  height: 90px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.product-name h2 {
  font: inherit;
  font-size: 30px;
  line-height: 44px;
  color: #32425c;
  text-transform: uppercase;
  margin-left: 30px
}

fieldset {
  border: none;
}

.mane-container {
  margin-bottom: 60px;
}

.mane-container .container {
  display: flex;
}

.product-filter{
  margin: 0;
  width: 220px;
  margin-right: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sort-and-catalog {
  margin: 0;
  width: 700px;
}

.product-filter-title {
  margin: 0;
  width: 100%;
  height: 38px;
  background-color: #f7f3ec;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product-filter-title h2 {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 18px;
}

.filter {

}

.price-counter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 0;
}

.price-rage {
  width: 220px;
  height: 78px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.price-values {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-values input {
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.defice {
  height: 28px;
}

.filter-line {
  display: block;
  border: none;
  background-color: #e5e5e5;
  height: 2px;
  width: 220px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px
}

.sort {
  width: 700px;
  height: 38px;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
  margin-bottom: 20px;
}


.sort h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  margin-left: 20px;
}

.sort-buttons {
  width: 380px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.sort-buttons a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #EE3643;
}

.filter-icon-up{
  margin-right: 20px;
}

.product-filter fieldset {
  margin: 0;
  padding: 0;
}

.producer-filter-list {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option input::before {
  content: "";
  /* position: absolute; */
  width: 23px;
  height: 23px;
  background-image: url(img/checkbox-off.svg);

}

.product-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.product-filter ul {
  list-style-type: none;
}

.product-filter li {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.catalog-list {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 52px;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  list-style-type: none;
}
.catalog-item-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
  text-align: center;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  border-radius: 3px;
}

.price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.main-catalog-list .main-catalog-item {
  margin-right: 20px;
}

.main-catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.product-pages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.product-page {
  margin-right: 10px;
  box-sizing: border-box;
}

.product-page a {
  display: block;
  width: 36px;
  max-height: 38px;
  padding: 9px 0;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
}

.product-page-next a {
  width: 140px;
}

.product-page a:hover,
.product-page a:focus {
  border: 1px solid #bdc6ca;
}

.product-page a:active {
  border: 1px solid #ee3643;
}

.about-perforators {
  padding-top: 60px;
  padding-bottom: 65px;
  background-color: #f4f7f9;
}

.about-perforators h2 {
  font: inherit;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.about-perforators p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}
/* .product-page a:visited {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #ee3643;
} */
/*MAIN END*/


/*FOOTER START*/

.footer {
  background-color: #32425c;
  border: none;
}

.footer-info {
  padding-bottom: 40px;
}
.footer .container {
  display: flex;
}

.footer-column-1 {
  width: 380px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-column-2 {
  width: 570px;
  margin: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.market-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

.footer-logo {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid transparent;
  width: 220px;
  height: 63px;
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo::before {
  content: "";
  position: absolute;
  top: 63px;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.footer-address {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
}

.footer-navigation li,
.market-navigation li{
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  list-style-type: none;
}

.market-navigation a{
  color: #ffd180;
}

.main-footer {
  background-color: #293449;
  border: 1px solid transparent;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.main-footer .container {
  display: flex;
}

.footer-company {
  width: 300px;
  margin: 0;
  margin-right: 90px;
  box-sizing: border-box;
}

.footer-social {
  width: 150px;
  margin: 0;
  margin-right: 100px;
  box-sizing: border-box;
}

.contact-info {
  width: 310px;
  margin:auto;
  display: flex;
  justify-content: space-between;
}

.footer-feedback,
.footer-copyright {
  width: 140px;
  margin:0;
}

.footer-social ul {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin:0;
  padding: 0;
  padding-top: 14px;
}

.footer-social li:nth-child(1),
.footer-social li:nth-child(2) {
  margin-right: 6px;
}

.footer-social a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  cursor: pointer;
}
.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}

.vk-button img {
  margin-top: 15px;
}

.fb-button img {
  margin-top: 11px;
}

.inst-button img {
  margin-top: 10.5px;
}

.footer-link {
  font: inherit;
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}
/*FOOTER END*/


/*DISPLAY NONE FOR SOME FEATURES*/
.slide-2,
.modal {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
